:host {
  display: block;
  padding: 3em;
  max-width: 1200px;
  margin: auto !important;
}

.todo-table {
  width: 100%;
}
.mat-column-actions {
  flex: 0 0 20% !important;
  width: 20% !important;
  text-align: right;
  font-weight: bold;
}

.mat-column-name {
  flex: 0 0 30% !important;
  width: 30% !important;
}

.mat-column-complete {
  flex: 0 0 30% !important;
  width: 30% !important;
}

.mat-column-date {
  flex: 0 0 30% !important;
  width: 30% !important;
}
