:host {
  display: block;
  padding: 3em;
  max-width: 1200px;
  margin: auto !important;
}

.todo-table {
  width: 100%;
}
.mat-column-actions {
  width: 150px;
  text-align: center;
  font-weight: bold;
}
